<h1> New Album </h1>

<form action="<%=new_album_url %>" method="post">
  <input type="hidden"
  name="authenticity token"
  value= "<%= form_authenticity_token %>" />

  <label for="album_name">Name</label>
  <input
  type = "text"
  name = "album[name]"/>
  
  <br>
  <br>

  <label for="album_band_id">Choose a band</label>
  <select name="band[name]" id="band.name">
    <option disabled selected> -Pick a Band-</option>
    <% Band.all.to_a.each do |band| %>
    <option value="<%=band.name %>">
      <%= band.name %>
    </option>
    <%end%>
  </select>

<br>
<br>

  <label>
    <input
      type = "radio"
      name = "album[type_album]"
      value = "studio">Studio
    <input
      type = "radio"
      name = "album[type_album]"
      value = "live">Live<br>
  </label>

  <br>
  <br>

  <label for="album_year">Year</label>
  <input
  type = "text"
  name = "album[year]"/>

  <br>
  <br>

  <input type = "submit" value="Add album!" />
</form>
